interactions:
- request:
    body: chat_id=%40maksmakeses&text=I%27m+a+bot%2C+TEST+VIDEO%21+test_url
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.telegram.org/bot7667422821:AAEYwDz1eEViRpcNph9Za1mD_KSp0bsmHMA/sendMessage
  response:
    body:
      string: '{"ok":true,"result":{"message_id":116,"sender_chat":{"id":-1002340873314,"title":"test","username":"maksmakeses","type":"channel"},"chat":{"id":-1002340873314,"title":"test","username":"maksmakeses","type":"channel"},"date":1740499319,"text":"I''m
        a bot, TEST VIDEO! test_url"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: chat_id=%40maksmakeses&message_id=116
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.telegram.org/bot7667422821:AAEYwDz1eEViRpcNph9Za1mD_KSp0bsmHMA/deleteMessage
  response:
    body:
      string: '{"ok":true,"result":true}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
